.second-row{
    display: inline-block;
    vertical-align: top;
    font-size: 11px;
}
.blue-text{
    color:skyblue;
}

#banner{
    background-color: #cf2f36;
    color:white;
    border-radius: 15px;
    padding: 10px 15px;
    margin: 10px;
}

#container{
    position: absolute;
    background-color:#1b335d;
    width: 970px;
    height: 584px;
    size:12px;
}
#menu{
    
    border-radius: 15px;
    padding: 10px;
    background-color: #2a7d8c;
    margin: 15px;
    list-style: none;
    color: turquoise;

}
#menu a{

    color:turquoise;
}
#menu ul{
    list-style-position: inside;
    padding:0px;
}
#menu ul li ul{
    padding-left: 3em;
}

#content{
    margin:15px;
    background-color: #0e1822;
    color: white;
    width: 705px;
    border-radius: 15px;
    padding: 20px 10px;
}
#content a{

    color:turquoise;
}
#footer{
    border-radius: 15px;
    padding:5px;
    margin:10px;
    background-color: grey;
    color: white;
}
#footer a{
    color:turquoise;
    
}